.pace .pace-progress {background: #eb4d24;}
.bigIcon,.socialList li a:hover{color: #eb4d24;}
.btn-new,.downloadNumber{background: #eb4d24}
.btn-new:hover,.btn-new:focus{background: #eb4d24}
#share{background-color: #eb4d24;}